body{
    text-align: center;
    background-color: dimgray;
}

h1{
    margin-top: 1em;
    font-size: 3.5em;
    font-family: 'Nabla', cursive;
}

h3{
    margin: 8.5em;
    font-size: x-large;
    font-family: 'Michroma', sans-serif;
}

button{
    min-width: 20em;
    min-height: 4em;
    font-size: medium;
    background-color: dimgray;
    color: dimgray;
    transition: 0.5s;
    font-family: 'Rubik Moonrocks', cursive;
}

button:hover{
    transition: 0.05s;
    min-width: 22em;
    min-height: 4.2em;
    background-color: rgb(255,215,0);
    color: rgb(255,140,0);
}